html{
    background-color: #003366;
}

body {
    color: #7AB8F2;
    font-family: 'calibri', sans-serif;
    text-align: left;
    margin: 80px 400px;
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 100px;
}

h2 {
    margin: 0;
    padding: 10px 0;
    font-size: 85px;
}

h3 {
    margin: 0;
    padding: 10px 0;
    font-size: 75px;
}

p {
    margin: 0;
    padding: 20px 0;
    font-size: 20;

}

p2 {
    margin: 0;
    margin-bottom: 20px;
    padding: 20px 0;
    font-size: 20;
}

img {
    margin: 20px;
    border-image: auto;
    margin: auto;
    display: block;
    width: auto;
    height: 300px;
}

hr {
    margin: 10px 0;
    margin-top: 30px;
    border: none;
    border: 4px solid #007BFF;
}


.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.grid-item {
    width: calc(33.333% - 10px); /* Adjust the subtraction value based on the total margin */
    margin: 5px; /* This adds a total of 10px margin around each item */
}
.grid-item img {
    width: 100%;
    height: auto;
}

ul, ol {
    text-align: left;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}