html{
    background-color: lightblue;
}

body {
    font-family: 'calibri', sans-serif;
    text-align: left;
    margin: 80px;
    padding: 100px;
}

h1 {
    margin: 0;
}

h2 {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

hr {
    margin: 20px 0;
}

ul, ol {
    text-align: left;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
}
